{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li style="padding-left: 16px"><a href="/chochete">Übersicht</a></li>
        <li class="active">{{ page.title }}</li>
    </ol>

    <div class="container">
    <h3>{{ page.title }} </h3>
    {{ page.remarks|richtext }}
        Abendchef: {{ page.chefdejour}}<br>
    <a class="btn btn-primary" href="{{ page.recipefile.url }}" style="margin-bottom: 15px;margin-top: 10px"><i class="fa fa-file-text-o" aria-hidden="true"></i> Download</a>
        <br>
        {% if self.apero %}
            <h4>Apéro</h4>
            {% for page in self.apero %}
                <h5><a href="./{{ page.slug }}">{{ page.title }}</a></h5><br>
                 {% if page.rezeptbild %}
                    {% for block in page.rezeptbild %}
                        {% image block.value.rezept_bild width-300 class="img-responsive" %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if self.vorspeise %}
            <h4>Vorspeise</h4>
            {% for page in self.vorspeise %}
                <h5><a href="./{{ page.slug }}">{{ page.title }}</a></h5><br>
                 {% if page.rezeptbild %}
                    {% for block in page.rezeptbild %}
                        {% image block.value.rezept_bild width-300 class="img-responsive" %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if self.hauptgang %}
        <h4>Hauptgang</h4>
            {% for page in self.hauptgang %}
                <h5><a href="./{{ page.slug }}">{{ page.title }}</a></h5><br>
                 {% if page.rezeptbild %}
                    {% for block in page.rezeptbild %}
                        {% image block.value.rezept_bild width-300 class="img-responsive" %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if self.dessert %}
            <h4>Dessert</h4>
            {% for page in self.dessert %}
                <h5><a href="./{{ page.slug }}">{{ page.title }}</a></h5><br>
                 {% if page.rezeptbild %}
                    {% for block in page.rezeptbild %}
                        {% image block.value.rezept_bild width-300 class="img-responsive" %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
