{% load wagtailcore_tags %}

<style>
.rezept_freiform {
    margin-top: 20px;
}

</style>
    {% if self.untertitel %}
        <div class="container-fluid">
            <div class="container">
                <h5>{{ self.untertitel }}</h5>
            </div>
        </div>
    {% endif %}

    {% if self.instruktionen %}
        <div class="container-fluid">
            <div class="container rezept_freiform">
                <h5>Rezept</h5>
                {% for block in self.instruktionen %}
                    {{ block }}
                {% endfor %}
            </div>
        </div>
    {% endif %}